#main-title {
  box-shadow: 0 0 1em 1em #ccc;
  text-align: center;
  color: white;
  background-color: lightslategrey
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
h1 {
    text-shadow: 1px 1px 1px #ccc;
}
body {
  background-image: url("imgres-1.jpg");
}
#main-field {
  border: 1px lightgrey solid;
  box-shadow: 0 0 1em 1em #ccc;
  position: relative;
  top: 150px;
  height: 550px;
  margin-top: -50px;
  background-color: white;
}
.btm-btn {
  position: relative;
  display: inline;
  width: 100px;
  height: 25px;
  background-color: white;
  bottom: -200px;
  margin-left: 50px;
}
