.btm-btn {
  position: relative;
  display: inline;
  width: 100px;
  height: 25px;
  background-color: white;
  bottom: -200px;
  margin-left: 50px;
}
#main-title {
  box-shadow: 0 0 1em 1em #ccc;
  text-align: center;
  color: white;
  background-color: lightslategrey
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
h1 {
    text-shadow: 1px 1px 1px #ccc;
}
body {
  background-image: url("imgres-1.jpg");
}
#main-field {
  border: 1px lightgrey solid;
  box-shadow: 0 0 1em 1em #ccc;
  position: relative;
  top: 150px;
  height: 350px;
  margin-top: -50px;
  background-color: white;
}

.input-field {
  width: 250px;
  margin-left: 50px;
  height: 50px;
  font-size: 18px;
  display: block;
  margin-top: 50px;
}
#back-button {
  margin-left: 435px;
}
#sign-in-button {
  width: 150px;
  margin-left: 100px;
  height: 35px;
  font-size: 14px;
  text-align: center;
  margin-top: 50px;
}
#sign-up-button {
  margin-left: 118px;
  font-size: 8px;
  color: blue;
  text-decoration: underline;;
}
#error1 {
  color: red;
  display: none;
}
